.student {
	position: relative;
	display: flex;
	align-items: flex-start;
	justify-content: flex-start;
	height: 40px;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

.student.disactive {
	color: #C0C0C0;
}

.student:hover {
	background: lightgray !important;
	cursor: pointer;
}

.student-deleted {
	display: none;
	height: 80px !important;
	padding: 8px 4px 4px !important;
	flex-direction: column;
	align-items: center;
	position: fixed;
	z-index: 5;
	background-color: #F5FFFA;
}

.student>div {
	padding: 10px 0 0 5px;
	height: 100%;
	box-sizing: border-box;
	border-bottom: 0.2px solid #DCDCDC;
}

[data-active='active-column'] {
	color: #1890ff;
	border-bottom: 0.2px solid #DCDCDC;
}

[data-active='active-column'] a {
	color: #1890ff !important;
}

.active-column:hover {
	background: lightgray !important;
}

.button-deleted-block {
	margin-top: 10px;
	display: flex;
	justify-content: center;
}

.button-deleted-block button {
	border: none;
	background: none;
}

.delet {
	margin-right: 10px;
}

.student-position {
	padding-left: 5px;
	width: 5%;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.student-name {
	width: 15%;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

.student-name img {
	width: 25px;
	height: 25px;
	margin-right: 10px;
	border-radius: 50%;
}

.student-githubId {
	width: 20%;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

.student-locationName {
	width: 12%;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

.student-role {
	width: 15%;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

.student-date {
	width: 9%;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

.student-score {
	width: 8%;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

.student-companyName {
	width: 18%;
	display: flex;
	align-items: center;
	justify-content: flex-start;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
